<div class="dashboard-container">
  <header class="hero-banner prof-hero">
    <div class="overlay">
      <h1>Hola, {{ user?.names }}</h1>
      <p>¿Listo para proponer soluciones sostenibles hoy?</p>
    </div>
  </header>

  <div class="content-padding">
    <mat-card class="profile-card">
      <div class="profile-layout">
        <div class="profile-info">
          <h3>{{ user?.names }} {{ user?.lastnames }}</h3>
          <p>Especialista en Ingeniería Ambiental y SbN.</p>
          <button mat-stroked-button color="accent">Actualizar perfil</button>
        </div>
        <div class="profile-image">
          <img src="assets/prof-placeholder.png" alt="Perfil" />
        </div>
      </div>
    </mat-card>

    <button mat-raised-button class="full-width-btn repo-btn">
      <mat-icon>menu_book</mat-icon> Explorar Repositorio SbN
    </button>

    <section class="section-container">
      <h4>Exploración de publicaciones de problemáticas</h4>
      <div class="category-scroll">
        <div
          class="category-item"
          [routerLink]="['/explore-problems']"
          [queryParams]="{ categoryProject: 'Agua' }"
        >
          <mat-icon>opacity</mat-icon><span>Agua</span>
        </div>

        <div
          class="category-item"
          [routerLink]="['/explore-problems']"
          [queryParams]="{ categoryProject: 'Ambiente' }"
        >
          <mat-icon>eco</mat-icon><span>Ambiente</span>
        </div>

        <div
          class="category-item"
          [routerLink]="['/explore-problems']"
          [queryParams]="{ categoryProject: 'Alimentación' }"
        >
          <mat-icon>restaurant</mat-icon><span>Alimentación</span>
        </div>

        <div
          class="category-item"
          [routerLink]="['/explore-problems']"
          [queryParams]="{ categoryProject: 'Hábitat' }"
        >
          <mat-icon>home</mat-icon><span>Hábitat</span>
        </div>

        <div
          class="category-item"
          [routerLink]="['/explore-problems']"
          [queryParams]="{ categoryProject: 'Riesgos Climáticos' }"
        >
          <mat-icon>thunderstorm</mat-icon><span>Riesgo climático</span>
        </div>

        <div
          class="category-item"
          [routerLink]="['/explore-problems']"
          [queryParams]="{ categoryProject: 'Fauna' }"
        >
          <mat-icon>pets</mat-icon><span>Fauna</span>
        </div>
      </div>
    </section>

    <section class="section-container">
      <h4>Historial de Propuestas Enviadas (Seguimiento)</h4>

      <div class="no-data" *ngIf="sentProposals.length === 0">
        <p>
          Aún no has enviado propuestas técnicas. Explora problemáticas para
          comenzar.
        </p>
      </div>

      <div class="proposals-scroll">
        <mat-card
          class="tracking-card"
          *ngFor="let prop of sentProposals"
          (click)="openMatchInfo(prop)"
          [class.clickable-match]="prop.status === 'Aceptada'"
        >
          <div class="tracking-layout">
            <div class="info-col">
              <h5>{{ prop.problem?.title }}</h5>
              <p class="click-hint" *ngIf="prop.status === 'Aceptada'">
                <mat-icon>visibility</mat-icon> Clic para ver datos de contacto
              </p>
              <p class="excerpt">{{ prop.description | slice : 0 : 100 }}...</p>

              <div class="status-indicator">
                <span
                  class="semaphore"
                  [ngClass]="prop.status.toLowerCase()"
                ></span>
                <span class="status-text">{{ prop.status }}</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </section>
  </div>
</div>
